.recipe {
    margin: 50px;
}
li {
    margin-left: 6em;
    margin-right: 9.75em;
  }
  
  ul {
    margin-left: 2em;
    width: 100%;
  }
.navbar {
    background-color: #F2E4FF;
  }
  
  .bg-light {
    background: #44057D !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: #F2E4FF;
  }
  body {
      background-color: #F2E4FF;
      
  }
  footer {
    text-align: center;
    padding: 5px;
    background-color: #44057D;
    color: white;
    height: 4.5cm;
    z-index: 200;
  }
  p2 {
      color: #F2E4FF;
  }
  h1 {
      color: #44057D !important;
  }
  h3 {
      color: #44057D;
  }
  p3 {
      color: #44057D;
  }





  /* image{size: 20cm;} */
image{width: 50%;
  align-self: center;
  z-index: 0;
  height: 10cm;}
  h1{align-self: center; z-index: 100; position: relative; width: 5cm; }
  
  html, body {
      margin: 0;
      padding: 0;
     /* background-color: lightskyblue; */
     
     align-self: center;
    } 
    
    
    @keyframes display {
      0% {
        transform: translateX(200px);
        opacity: 0;
      }
      10% {
        transform: translateX(0);
        opacity: 1;
      }
      20% {
        transform: translateX(0);
        opacity: 1;
      }
      30% {
        transform: translateX(-200px);
        opacity: 0;
      }
      100% {
        transform: translateX(-200px);
        opacity: 0;
      }
    }
    
    .carousel{
      position: relative;
      width: 80%;
      float: left;
      margin: 20px;
      margin-left: 12%;
      z-index: 0;
      margin-top: -5%;
    }
    
    .carousel> img {
      position: absolute;
      top: 0;
      left: calc(50% - 100px);
      opacity: 0;
      animation: display 10s infinite;
    }
    
    img:nth-child(2) {
      animation-delay: 2s;
    }
    img:nth-child(3) {
      animation-delay: 4s;
    }
    img:nth-child(4) {
      animation-delay: 6s;
    }
    img:nth-child(5) {
      animation-delay: 8s;
    }