.recipe {
    margin: 75px;
}
img{
  max-height: 10cm;
  margin-bottom: 2cm;
  margin: 0.5cm;
  margin-left: -1cm;
}
li {
   margin-left: 6em;
    margin-right: 9.75em;
  }
  
  ul {
    margin-left: 2em;
    width: 100%;

  }
.navbar {
    background-color: #F2E4FF;
  }
  
  .bg-light {
    background: #44057D !important;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: #F2E4FF;
  }
  body {
      background-color: #F2E4FF;
     
      
  }
  footer {
    text-align: center;
    padding: 5px;
    background-color: #44057D;
    color: white;
    height: 4.5cm;
    
  
  }
  p2 {
      color: #F2E4FF;
  }
  h1 {
      color: #44057D !important;
  }
  h3 {
      color: #44057D;
    
  }
  p3 {
      color: #44057D;
  }

img {
  max-width: 200% !important;
  margin-left: 5%;
  margin-bottom: -1cm;
  margin-right: -100rem !important;
}


@media screen and (max-width: 1000px) {
  img {
    width: 100px;
  
  }
}
@media screen and (max-width: 600px) {
  img {
    width: 80px;
  }
}

  